.arrow {
    @include border-radius(50%);
    @include size(30px, 30px);
    @include padding(5px);

    background: {
        color: $middle_lite;
        position: center;
        repeat: no-repeat;
    }
    cursor: pointer;
}

.arrow__prev {
    background-image: url(../icons/back.svg);

    &:hover {
        background-color: $lite_main;
    }

    &--fix {
        background-image: url(../icons/back-lite.svg);
        border: none;
        background-position: center;
        background-color: transparent;
        background-repeat: no-repeat;

        &:hover {
            background-color: $middle_lite;
        }
    }
}

.arrow__next {
    background-image: url(../icons/next.svg);

    &:hover {
        background-color: $lite_main;
    }

    &--fix {
        background-image: url(../icons/next-lite.svg);
        border: none;
        background-position: center;
        background-color: transparent;
        background-repeat: no-repeat;

        &:hover {
            background-color: $middle_lite;
        }
    }
}
