.close-icon {
    cursor: pointer;
    @include size(12px, 12px);
    @include padding(null null null 15px);
    background: {
        image: url(../icons/icon-close.svg);
        repeat: no-repeat;
        repeat: no-repeat;
    }
    fill: $middle_lite;
}
