* {
    padding: 0;
    margin: 0;
}

.date-box {
    display: flex;
    flex-direction: column;
    @extend %center;
    width: 280px;
    height: 190px;
    border-radius: 35px;
    box-shadow: 0px 8px 43px 0px rgba(16, 33, 54, 0.59);
    background-color: rgba(16, 33, 54, 0.59);
    margin-bottom: 42px;
}

.date {
    margin-bottom: 20px;
}

.month-time {
    margin-bottom: 30px;
}

.date,
.month-time,
.data-suffix,
.sunrise-sunset {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.date__data,
.date__day-week {
    font-size: $text-mobl;
    color: rgb(247, 247, 247);
    font-family: $main-font;
    font-weight: 300;
}

.date__suffix {
    font-size: $text-s;
    color: rgb(247, 247, 247);
    font-family: $main-font;
    font-weight: 300;
    margin-right: 16px;
    top: 14px;
}

.month,
.time,
.sunrise,
.sunset {
    font-size: $text-s;
    color: $lite_main;
    font-family: $main-font;
    font-weight: 400;
}

.border-line {
    position: relative;
    margin-right: 20px;

    &::after {
        @include psevdo($display: block);
        position: absolute;
        top: 0;
        right: -10px;
        width: 1px;
        height: 20px;
        background-color: rgb(231, 232, 235);
    }
}

.sunrise-sunset {
    width: 170px;
}

.sunrise,
.sunset {
    position: relative;
    padding-left: 34px;

    &::before {
        @include psevdo($display: block);
        position: absolute;
        left: 0;
        bottom: 0;
        width: 25px;
        height: 33px;
    }
}

.sunrise::before {
    background-image: url('../icons/sun/sunrise.png');
}

.sunset::before {
    background-image: url('../icons/sun/sunset.png');
}

@include md {
    .date-box {
        width: 492px;
        height: 277px;
        margin: 0 auto 62px;
    }

    .date__data,
    .date__day-week {
        font-size: $text-tabl;
    }

    .date__suffix {
        font-size: 23px;
        top: 26px;
    }

    .month,
    .time,
    .sunrise,
    .sunset {
        font-size: $text-m;
    }

    .date {
        margin-bottom: 14px;
    }

    .month-time {
        margin-bottom: 40px;
    }
}

@include lg {
    .date-box {
        width: 601px;
        height: 277px;
        border-radius: 0 35px 0 0;
        margin-left: 0;
        margin-bottom: 0;
    }

    .block-desk {
        display: flex;
        justify-content: space-between;
        width: 430px;
    }

    .sunrise,
    .sunset {
        &::before {
            bottom: 42px;
        }
    }

    .date-box {
        position: relative;
        align-items: flex-start;
        padding-left: 110px;
        left: -110px;
    }

    .border-line {
        margin-right: 36px;

        &::after {
            right: -18px;
        }
    }
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .sunrise::before {
        background-size: 25px 33px;
        background-image: url('../icons/sun/sunrise@2x.png');
    }
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .sunset::before {
        background-size: 25px 33px;
        background-image: url('../icons/sun/sunset@2x.png');
    }
}
