.day__tempr {
    @include size(58px, null);
    @extend %flex;
    @extend %space-between;
    @include margin(null null 14px null);
    position: relative;

    &:before {
        @include size(1px, 29px);
        @include position(absolute, 70% null null 47%);
        transform: translate(50%, -50%);
        background-color: $lite_main;
        opacity: 30%;
        content: '';
        display: inline-block;
    }
}

.day__tempr--min-max {
    @include font-source(12px, 400);
    opacity: 54%;
}

.day__tempr--degrees {
    position: relative;
    font-size: 16px;
    color: $accent;

    &:before {
        @include size(5px, 5px);
        @include position(absolute, 0 0 null null);
        @include border-radius(3px);
        border: 1px solid #ff6b08;
        content: '';
        display: inline-block;
    }
}

@include md {
    .day__tempr {
        @include size(82px, null);

        &:before {
            @include size(null, 40px);
        }
    }

    .day__tempr--min-max {
        font-size: $text-s;
    }

    .day__tempr--degrees {
        font-size: $text-m;
    }
}

@include lg {
    .day__tempr {
        @include size(105px, null);
    }

    .day__tempr--min-max {
        font-size: $text-s;
    }

    .day__tempr--degrees {
        // @include margin(16px 0 0 0);
        @include padding(0);
        position: relative;

        &:before {
            @include size(5px, 5px);
            border-radius: 3px;
            border: 1px solid #ff6b08;
            position: absolute;
            right: 0;
            content: '';
            display: inline-block;
        }

        @media (min-width: 768px) and (max-width: 1139px) {
            font-size: $text-m;
        }

        @include lg {
            font-size: $text-m;
            margin-top: 10px;
        }
    }
}
