.day__month {
    @include font-source(25px, 400);
    @include padding(10px null null null);
    margin: (0 0 10px 0);
    font-size: 16px;
}

@include md {
    .day__month {
        font-size: $text-m;
    }
}

// @include lg {
//     .day__month {
//         // @include margin(null null 20px null);
//     }
// }
