.day__item {
    @include size(58px, null);
    @include padding(22px null null null);
    &:hover .day__week {
        color: $accent;
        opacity: 1;
    }
    &:hover .more-info__btn {
        opacity: 1;
    }
}

@include md {
    .day__item {
        @include size(82px, null);
        @include padding(0 null null null);
        cursor: pointer;
    }
}

@include lg {
    .day__item {
        @include size(105px, null);
    }
}
