.btn {
    @extend %flex;
    @extend %flex-flow;
    @include padding(5px 30px);
    @include font-source-sans($text-s, $dark_main, 700, null);
    background-color: $middle_lite;
    @include border-radius(50px);
    border: none;
    cursor: pointer;
    text-transform: uppercase;

    &:hover,
    &:focus {
        outline: none;
        background-color: $lite_main;
    }
}
