.days {
    @extend %flex;
    @extend %space-between;
    @include size(230px, null);
    padding: 20px 0 30px 0;
    margin: 0;
    &__mrinfo {
        justify-content: flex-start;
        padding: (10px 0 0 0);
    }
}

@include md {
    .days {
        @include size(545px, null);
    }
}

@include lg {
    .days {
        @include size(900px, null);
    }
}
