.degree {
    @extend %flex;
    @extend %center;
    @extend %column;
    @include size(null, 190px);
    @include margin(null null 30px null);
    @include font-source-sans(null, $lite_main, 400, null);
    @include border-radius(35px);
}

.degree__icon {
    @include size(42px, 42px);
}

.degree__city {
    @include padding(16px null 20px null);
    @include font-source-sans($text-m, $lite_main, 400, null);
}

.degree__temp {
    padding-right: 14px;
    @include font-source-sans($text-mobl, null, 300, null);

    &::after {
        content: "\00B0";
        @include padding(null null null 2px);
        @include font-source(36px, null);
        vertical-align: top;
    }
}

.degree__minmax,
.degree__minmax-wrap {
    @extend %flex;
    @extend %center;
}

.degree__min {
    @include padding(null 14px null null);
}

.degree__max {
    @include padding(null null null 14px);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.degree__min-text,
.degree__max-text {
    font-size: $text-s;
    color: $middle_dark;
    padding-bottom: 4px;
}

.degree__min-value,
.degree__max-value {
    font-size: $text-m;

    &::after {
        content: "\00B0";
        @include padding(null null null 2px);
    }
}

@include md {
    .degree {
        @include size(492px, 300px);
        @include margin(null auto 46px);
    }

    .degree__city {
        @include padding(null null 12px null);
    }

    .degree__temp {
        @include padding(null 0 14px null);
        font-size: $text-tabl;
        &::after {
            font-size: 80px;
        }
    }

    .degree__minmax {
        flex-direction: column;
    }

    .degree__min {
        @include padding(null 20px null null);
    }

    .degree__max {
        @include padding(null null null 20px);
    }

    .degree__min-text,
    .degree__max-text {
        font-size: $text-m;
    }
}
@include lg {
    .degree {
        // @include position(absolute, null 0 null null);
        @include margin(null 0 28px null);
        @include border-left-radius(35px);
        @include border-right-radius(0);
    }
}
