.input-list {
    @extend %flex;
    @include font-source-sans($text-s, null, null, null);
    @include size(80%, null);

    &__item {
        @extend %space-between;
        color: $lite_main;
        background-color: $middle_dark;
        @include border-radius(50px);
        @include padding(7px);
        @include size(null, 100%);
        @include margin(null 3px null null);
    }

    &__city {
        @include margin(null 10px null null);
        cursor: pointer;
    }
}

@include md {
    .input-list {
        @include size(85%, null);
    }
}
