body {
    background-color: purple;
}
.wrap-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    margin-bottom: 50px;
}
.input-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    font-size: $text-s;
    font: $main-font;
    width: 80%;
    //height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    &__item {
        justify-content: space-between;
        color: $lite_main;
        background-color: $middle_dark;
        border-radius: 50px;
        padding: 7px;
        list-style-type: none;
        height: 100%;
        margin-right: 3px;
    }
    &__city {
        margin-right: 10px;

        margin-right: 22px;

        cursor: pointer;
    }
}

.close-icon {
    top: 50%;
    right: 15%;
    cursor: pointer;

    //@include size(12px);
    width: 12px;
    height: 12px;
    padding-left: 15px;
    background-image: url(../icons/icon-close.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.arrow__prev {
    border-radius: 50%;
    background-color: $middle_lite;
    padding: 5px;
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
    background-image: url(../icons/back.svg);
    background-position: center;
    background-repeat: no-repeat;
    fill: $lite_main;
}
.arrow__next {
    border-radius: 50%;
    background-color: $middle_lite;
    padding: 5px;
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
    background-image: url(../icons/next.svg);
    background-position: center;
    background-repeat: no-repeat;

    width: 20px;
    padding-left: 10px;
    color: $middle_lite;
    //background-image: url(../../icons/close/close-24px.svg);
}
.arrow__prev {
    border: radius 50%;
    background-color: $middle_lite;
    top: 50%;
    right: 15%;
    width: 30px;
    border-radius: 50px;
    margin-left: 5px;
    margin-right: 5px;
    // background-image: url(../../icons/chevron/chevron_right-black-18dp/1x/baseline_chevron_left_black_18dp.png);
}
.arrow__next {
    border: radius 50%;
    background-color: $middle_lite;
    top: 50%;
    right: 15%;
    width: 30px;
    border-radius: 50px;
    margin-left: 5px;
    margin-right: 5px;
    // background-image: url(../../icons/chevron/chevron_right-black-18dp/1x/baseline_chevron_right_black_18dp.png);

    // &--active {
    //     background-color: $lite_main;
    //     cursor: pointer;
    // }
}
// .arrow path {
//     fill: $lite_main;
// }
.arrow__next:hover {
    background-color: $lite_main;
    cursor: pointer;
}
.arrow__prev:hover {
    background-color: $lite_main;
    cursor: pointer;
}

.arrow-lite {
    // border-radius: 50%;
    // padding: 5px;
    //width: 30px;
    width: 28px;
    height: 28px;
    margin-left: 5px;
    margin-right: 5px;
    // background-image: url(../../icons/back.svg);
    // background-position: center;
    // background-repeat: no-repeat;
    cursor: pointer;

    &__next path {
        fill: $middle_lite;
    }
    &__prev path {
        fill: $middle_lite;
        // width: 28px;
        // height: 28px;
    }
}
svg {
    display: none;
    width: 26px;
    height: 26px;
}

// .arrow-lite__next {
//     border-radius: 50%;
//     padding: 5px;
//     width: 30px;
//     margin-left: 5px;
//     margin-right: 5px;
//     // background-image: url(../icons/next.svg);
//     background-position: center;
//     background-repeat: no-repeat;
//     cursor: pointer;
//     fill: $middle_lite;
// }

// .arrow path {
//     fill: $middle_lite;
// }

.arrow-lite__next,
.arrow-lite__prev:hover {
    fill: $lite_main;
}

@media (min-width: 576px) {
    .wrap-list {
        margin-bottom: 50px;
    }
}
@media (min-width: 768px) {
    .wrap-list {
        margin-bottom: 104px;
        margin: 0 auto;
        width: 84%;
        //width: 508px;
        width: 508px;
    }
    .input-list {
        width: 85%;
    }
    .input-list__city {
        margin-right: 10px;
    }
}
@media (min-width: 1140px) {
    .wrap-list {
        margin-bottom: 92px;
        width: 48%;
    }
}
.wrap-arrow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    height: 30px;
}
.more-info {
    overflow-x: scroll;
}

::-webkit-scrollbar {
    width: 250px;
    height: 3px;
    overflow: visible;
}

::-webkit-scrollbar-track {
    background: $middle_lite;
}

::-webkit-scrollbar-thumb {
    background: $accent;
}
