.quote {
    display: block;
    width: 200px;
    text-align: right;
    margin-bottom: 58px;
    margin-left: auto;
    margin-right: 0px;
}

.quote__text {
    @include font-source-sans($text-s, $lite_main, 400, 21px);
    font-style: italic;
    margin-bottom: 15px;
    position: relative;

    &::before {
        position: absolute;
        display: block;
        content: '\201D';
        font-size: 90px;
        font-family: 'Arial';
        color: $middle_dark;
        top: 18px;
        right: 0px;
        font-style: normal;
    }
}

.quote__autor {
    font-size: $text-m;
    line-height: 32px;
    color: $lite_main;
    font-family: $main-font;
    font-weight: 400;
}

@include md {
    .quote {
        width: 373px;
        margin-bottom: 72px;
        margin-right: 79px;
    }

    .quote__text {
        font-size: $quotation-tab;
        line-height: 32px;

        &::before {
            font-size: 195px;
            top: 35px;
        }
    }
}

@include lg {
    .quote {
        margin: 0;
    }
    .wrapper {
        justify-content: space-between;
    }
}
