.star {
    @include size(25px, 25px);
    @include border-radius(50%);
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: {
        position: center;
        color: transparent;
        repeat: no-repeat;
        image: url(../icons/star/star.svg);
    }

    &:hover,
    :focus {
        background-color: $star_hover;
        cursor: pointer;
    }

    &--active {
        background-image: url(../icons/star_filled/star_color.svg);

        &:focus {
            outline: none;
        }
    }
}

@include lg {
    .star {
        right: 295px;
    }
}
