.weather {
    @extend %flex;
    @extend %column;
    align-items: center;
    @include size($cont-mob, null);
    @include padding(34px null);
    @include border-radius(35px);
    background-color: $bg_opacity;
}

.more-info__tempr {
    margin: 0 auto;
    width: 30px;
    text-align: center;
}

.slick-dotted.slick-slider {
    margin: 0;
}

.pressure {
    &::before {
        display: block;
        content: '';
        @include position(absolute, null null null 15px);
        @include size(22px, 22px);
    }
}

.humidity {
    &::before {
        display: block;
        content: '';
        @include position(absolute, null null null 22px);
        @include size(22px, 22px);
    }
}

.wind {
    &::before {
        display: block;
        content: '';
        @include position(absolute, null null null 15px);
        @include size(22px, 22px);
    }
}

@include md {
    .weather {
        @include size($cont-tab, null);
        @include padding(42px null 70px null);
        @include margin(30 px null null null);
    }
}

@include lg {
    .weather {
        @include size($cont-desk, null);
        @include padding(34px null);
        @include padding(37px null 32px null);
    }
}
