/*FONTS*/
$main-font: 'Lato', 'Arial', sans-serif; /*основной шрифт*/

/*COLORS*/
$accent: rgb(255, 107, 8); /*оранжевый*/
$lite_main: rgb(255, 255, 255); /*белый*/
$dark_main: rgb(0, 0, 0); /*черный*/
$bg_solid: rgb(16, 33, 54); /*синий фон */
$bg_opacity: rgba(16, 33, 54, 0.8); /*синий  фон прозрачный*/
$middle_lite: rgba(255, 255, 255, 0.54); /*светло серый*/
$middle_dark: rgba(255, 255, 255, 0.3); /*темно серый*/
$middle_dark_list: rgb(16, 33, 54); /*сине серый*/
$star_hover: rgb(241, 241, 241); /*светло серый*/
$border-color: #12c2e9;

/*TEXT SIZE*/
$text-s: 14px; /*мал шрифт для всех размеров*/
$text-m: 18px; /*средний шрифт для всех размеров*/
$text-mobl: 45px; /* большой шрифт для моб*/
$text-tabl: 90px; /*большой шрифт для таб и пк*/
$quotation-tab: 22px; /*цитата для таб и пк*/

/*CONTAINER SIZE*/
$cont-mob: 280px;
$cont-tab: 608px;
$cont-desk: 1060px;

// Переменные для медиазапросов

//Маленькие планшеты и большие смартфоны (альбомная ориентация)
$screen-sm-min: 576px; //
// Маленькие планшеты (портретная ориентация)
$screen-md-min: 768px;
// Планшеты и маленькие рабочие столы
$screen-lg-min: 1140px;
