{{#each this}}
<li class="more-info__item">
    <h3 class="day__tempr--min-max more-info__time">00:00</h3>
    <p>icon</p>
    <p class="day__tempr-degrees more-info__tempr">{{temp}}</p>
    <p class="more-info__descr pressure">{{pressure}} mm</p>
    <p class="more-info__descr humidity">{{humidity}} %</p>
    <p class="more-info__descr wind">{{day.wind.speed}} m/s</p>
</li>

{{/each}}