@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url('../../font/Lato-Light.ttf') format('ttf');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../../font/Lato-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: url('../../font/Lato-Italic.ttf') format('ttf');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../../font/Lato-Bold.ttf') format('ttf');
}
