<div class="degree__wrap">
    <img class="degree__icon" src="" alt="" />
    <p class="degree__city">City</p>
    <div class="degree__minmax">
        <p class="degree__temp">n/a</p>
        <div class="degree__minmax-wrap">
            <div class="degree__min">
                <p class="degree__min-text">min</p>
                <p class="degree__min-value">n/a</p>
            </div>
            <div class="degree__max">
                <p class="degree__max-text">max</p>
                <p class="degree__max-value">n/a</p>
            </div>
        </div>
    </div>
</div>