{{#each this}}
<li class="day__item">
    <h3 class="day__week">Sanday</h3>
    <h3 class="day__month">09 Feb</h3>
    <p>icon</p>
    <div class="day__tempr">
        <div>
            <h4 class="day__tempr--min-max">min</h4>
            <p class="day__tempr--degrees">-2</p>
        </div>
        <div>
            <h4 class="day__tempr--min-max">max</h4>
            <p class="day__tempr--degrees">-5</p>
        </div>
    </div>
    <a class="more-info__btn">more info</a>
</li>
{{/each}}