.container {
    @include size(80%, null);
    max-width: $cont-mob;
    @include margin(0 auto);
    @include padding(30px null 35px);
    text-align: center;
    background-color: gray;
}

@include md {
    .container {
        max-width: $cont-tab;
    }
}

@include lg {
    .container {
        max-width: $cont-desk;
    }
}
