.container {
    width: $cont-mob;
    @include margin(0 auto);
    text-align: center;
}

@include md {
    .container {
        width: $cont-tab;
    }
}

@include lg {
    .container {
        width: $cont-desk;
    }
}
