.container {
    @include size(80%, 100vh);
    max-width: $cont-mob;
    @include margin(0 auto);
    text-align: center;
}

@include md {
    .container {
        max-width: $cont-tab;
    }
}

@include lg {
    .container {
        max-width: $cont-desk;
    }
}
