.form {
    position: relative;
    text-align: center;
    @include size(100%, null);
    @include margin(null null 13px null);
    @include padding(40px null null null);

    span {
        position: absolute;
        display: inline-block;
        background: {
            repeat: no-repeat;
            position: center;
        }
        @include padding(28px 0 0 0);
    }
}

@include md {
    .form {
        @include margin(null null 13px null);
    }
}
