.form {
    position: relative;
    @include margin(null null 13px null);
    @include padding(28px null null null);

    span {
        position: absolute;
        display: inline-block;
        background: {
            repeat: no-repeat;
            position: center;
        }
        @include padding(28px 0 0 0);
    }
}

@include md {
    .form {
        @include padding(62px 0 0 0);
        @include margin(null null 13px null);
        width: $cont-tab;
    }
}

@include lg {
    .form {
        @include padding(78px 0 0 0);
        width: $cont-desk;
    }
}
